.customer-page {
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 50px;
    background: #fff;
  }

  .customer-page h1 {
    color: black;
  }

  .customer-page p {
    color: rgb(31, 133, 133);
  }
  
  .customer-page button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .customer-page button:hover {
    background-color: #1c7c31;
  }
  