.vegetarian {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(11, 16, 22);
  color: aqua;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.recipe-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  max-width: 200px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1cm; 
  margin-top: 10px;
}