.auth-button {
    background-color: #49a04c; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  .auth-button:hover {
    background-color: #45a049; 
  }
  
  .auth-button:active {
    background-color: #3e8e41; 
  }
  
  .auth-button.disabled {
    background-color: #c8c3c3; 
    cursor: not-allowed; 
    color: #5c5c5c; 
  }